* {
    box-sizing: border-box;
}

body {
    background-image: url("images/table.png");
    background-size: cover;
    height: 100vh;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px 0;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 2px;
}

button:hover {
    box-shadow: 1px 1px 10px white;
}

button:active {
    box-shadow: 0 2px 15px white;
    transform: translateY(4px)
}